

.nav-wrapper {
    height: 200px; 
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
}

.my-logo {
    height: 150px;
    margin-top: -35px;
}

#options {
    width: 80%;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-size: 450
    px;
  }