

.nav-wrapper {
    height: 90px; 
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
}

.my-logo {
    height: 120px;
}


