<br/>
<br/>
<br/>
<br/>




<div class="col s12 m8" >
    <div class="card cyan darken-3">
      <a class="bolo-form">
        <div class="card-horizontal valign-wrapper">
          <div class="card-content white-text">
            <h2>Encomendas!!</h2>
            <br/>
            <br/>
            <div>
                <h5><strong>É fácil, entre em contato com a nossa equipe via WhatsApp, e-mail ou telefone, que iremos transformar seu desejo em realidade!</strong>                    </h5>
                <br/>
            </div>

            <p><i class="material-icons">phone </i> Telefone: 11 9999-9999</p>
            <br/>
            <p><i class="material-icons">email </i> Email: bolodamaria@bolodamaria.com.br</p>
            <br/>
            <p><i class="material-icons">chat </i>  WhatsApp: 11 9999-9999</p>

            <h4><i class="material-icons">assignment</i> <a routerLink="/formulario">Formulário para Pedidos</a></h4>
          </div>
          <div class="card-image">
            <img alt="Imagem do Card" src="assets/imagens/bolo_rosas.JPG" >
          </div>
        </div>
      </a>
    </div>
  </div>
  

