<br />
<br />
<br />
<br />




<div class="col s12 m8">
    <div class="card purple darken-4">
        <a class="bolo-form">
            <div class="card-horizontal valign-wrapper">
                <div class="card-image">
                    <img alt="Imagem do Card" src="assets/imagens/bolo_branca_neve.JPG">
                </div>
                <div class="card-content white-text">
                    <h2>Entre em Contato</h2>
                    <br />
                    <br />


                    <p><i class="material-icons">phone </i> Telefone: 11 9999-9999</p>
                    <br />
                    <p><i class="material-icons">email </i> Email: bolodamaria@bolodamaria.com.br</p>
                    <br />
                    <p><i class="material-icons">chat </i> WhatsApp: 11 9999-9999</p>

                    <h4><i class="material-icons">assignment</i> <a routerLink="/formulario">Formulário para Pedidos</a>
                    </h4>
                </div>

            </div>
        </a>
    </div>
</div>